    
    
<link rel="stylesheet" href="./css/home.css">
<title>Home</title>
<!--slider--->
{{!-- <div id="carouselExampleCaptions" class="carousel slide home-slider" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <a href="#" class="carousel-item active position-relative">
        <img src="./../img/home/slider1.jpg" class="d-block w-100" alt="...">
        <h1 class="sloganHome">Chicpet</h1>
        <div class="carousel-caption d-none d-md-block"> 
            <h4>HOME</h4>
            <h5>Until one has loved an animal, a part of one’s soul remains unawakened.</h5>
        </div>
    </a>
    <a href="/service" class="carousel-item">
        <img src="./../img/home/slider3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>SERVICES</h5>
            <h5>We have everything you need to train and keep your pet happy, healthy, and strong</h5>
        </div>
    </a>
    <a href="/blog" class="carousel-item">
        <img src="./../img/blog/blog_head.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h4>BLOG</h4>
            <h5>Owning a pet is a big responsibility but with great responsibility comes great joy</h5>
        </div>
    </a>
    <a href="/contact" class="carousel-item">
        <img src="./../img/home/slider2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h4>CONTACT</h4>
            <h5>Contact us! Let Them Know Someone Cares.</h5>
        </div>
    </a>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> --}}


<div class="container body-home px-lg-5 mb-5 mt-5">
    <!-- Container (About Section) --->

    <div class="about row d-flex flex-wrap-reverse mx-0 mt-4">
        <div class="col-md-7 text-about align-content-center p-4">
            <h2 class="head-Text">HousewareReview</h2>
            <h2> Where your pets want to go!</h2><br>
            <p>Good quality service. Experience the differenceTo protect your pet's health, you need to know how to properly care for your pet. 
                With pet care service ChicPet will provide a route to take care of your pet and pets in the safest way.</p>
            <p>Our staff is trained from IBPSA with many experienced pet care professionals in at-home pet care such as pet care, 
                grooming and nail trimming for dogs and cats at affordable prices,  safe, and loving service for your pet.</p>
            <br>
            {{!-- <a href="/service/book" class="btn btn-book btn-md active" role="button" aria-pressed="true">BOOK NOW</a> --}}
        </div>
        
        <div class="col-md-5 img-about">
            <img src="./img/home/about.png" alt="">
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/blog">Blog Mới Nhất</a>
        </h3>

        <div class="row">
            {{#each blogs }}
            <div class="col-md-4">
                <a href="/blog/{{ this._id }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.img}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{truncateText this.description 100}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=beauty&period=week">Sản Phẩm Làm Đẹp Bán Chạy Tuần Này</a>
        </h3>

        <div class="row">
            {{#each beautyProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=digital_devices&period=week">Sản Phẩm Đồ Chơi Công Nghệ Bán Chạy Tuần Này</a>
        </h3>

        <div class="row">
            {{#each deviceProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=electric_appliances&period=week">Sản Phẩm Điện Gia Dụng Bán Chạy Tuần Này</a>
        </h3>

        <div class="row">
            {{#each applianceProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=beauty&period=week">Sản Phẩm Làm Đẹp Bán Chạy Tháng Này</a>
        </h3>

        <div class="row">
            {{#each monthBeautyProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

        <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=digital_devices&period=week">Sản Phẩm Đồ Chơi Công Nghệ Bán Chạy Tuần Này</a>
        </h3>

        <div class="row">
            {{#each monthDeviceProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="section">
        <h3 class="section-title">
            <a href="/bestsellers?category=electric_appliances&period=week">Sản Phẩm Điện Gia Dụng Bán Chạy Tuần Này</a>
        </h3>

        <div class="row">
            {{#each monthApplianceProducts }}
            <div class="col-md-4">
                <a href="{{ this.url }}" class="section-product" target="_blank">
                    <img class="section-product-image" src="{{this.image}}" alt="{{this.title}}">
                    <div class="section-product-body">
                        <h5 class="section-product-title">{{this.title}}</h5>
                        <p class="section-product-reviews">({{ this.review_count }} nhận xét)</p>
                        <p><span class="sale-price">{{ this.sale_price }}</span> <span class="regular-price">{{ this.regular_price }}</span> <span class="discount-rate">{{ this.discount_rate }}</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <!--feedback-->
    {{!-- <div class="feedback">
            <p class="text-center pt-5 m-0" style="font-size: 2rem;">Happy Customers Review</p>
        <div class="feedback-list row text-center">
                <div class="feedback-item col mx-4">
                    <div class="feedback-img">
                        <img src="./img/home/John-Wick.png" alt="John" width="250" height="250">
                    </div>
                    <div class="feedback-body">
                        <p class="feedback-heading">John</p>
                        <p class="feedback-time">Fri 27 Nov 2016</p>
                        <p class="feedback-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    </div>
                </div>

                <div class="feedback-item col mx-4">
                    <div class="feedback-img">
                        <img src="./img/home/Peter.jpg" alt="Peter" width="250" height="250">
                    </div>
                    <div class="feedback-body">
                        <p class="feedback-heading">Peter</p>
                        <p class="feedback-time">Sat 28 Nov 2016</p>
                        <p class="feedback-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    </div>
                </div>


                <div class="feedback-item col mx-4">
                    <div class="feedbback-img">
                        <img src="./img/home/lyly.jpg" alt="LyLy" width="250" height="250">
                    </div>
                    <div class="feedback-body">
                        <p class="feedback-heading">LyLy</p>
                        <p class="feedback-time">Sun 29 Nov 2016</p>
                        <p class="feedback-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    </div>
                </div>
        </div>  
    </div> --}}
</div>
<script>
    document.getElementById("nav-home").classList.add("active");
</script>

