<link rel="stylesheet" href="/css/editDetailBlog.css">
<title>Post</title>

<div class="container px-5 mb-4">
    <div class="row flex-nowrap content mx-0">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 menu-bar">
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 list-item">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <button class="nav-link align-middle px-0 btn btn-preview"> 
                            <i class="fas fa-chalkboard-teacher ms-2"></i> Xem Trước
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link align-middle px-0 btn btn-post" type="submit">
                            <i class="far fa-paper-plane ms-2"></i> Cập Nhật
                        </button>
                    </li>

                </ul>    

            </div>

        </div>

        <div class="col py-3 post-content">
            <form action="/uploadSingle" method="post" enctype="multipart/form-data" class="form-post">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Tiêu Đề</span>
                    <input type="text" class="form-control title-blog" id="{{blog._id}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{blog.title}}">
                </div>
                <div class="title-error error-text"></div>

                <div class="input-group input-group-sm mt-3">
                    <input type="file" class="form-control form-control-sm  blog-img" name="{{blog.img}}" accept="image/png, image/jpeg">
                    <button class="btn btn-outline-secondary" type="button" onclick="uploadPicture()">Upload</button>

                    <span class="input-group-text ms-2">Danh Mục</span>
                    <select class="form-select form-select-sm category-blog" aria-label=".form-select-sm example">
                        <option {{#ifCond blog.category '==' 'Làm đẹp'}} selected {{/ifCond}} value="Làm đẹp">Làm đẹp</option>
                        <option {{#ifCond blog.category '==' 'Đồ chơi công nghệ'}} selected {{/ifCond}} value="Đồ chơi công nghệ">Đồ chơi công nghệ</option>
                        <option {{#ifCond blog.category '==' 'Điện gia dụng'}} selected {{/ifCond}} value="Điện gia dụng">Điện gia dụng</option>
                    </select>
                </div>
                {{!-- --------------------------------------------- --}}
                <div class="img-error error-text"></div>

                <div class="input-group input-group-sm mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Mô Tả</span>
                    <input type="text" class="form-control description-blog" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{blog.description}}">
                </div>
                <div class="description-error error-text"></div>

                {{#ifCond userRole '==' 'admin'}}
                <div class="input-group input-group-sm mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Trạng Thái</span>
                    <select class="form-select form-select-sm status-blog" aria-label=".form-select-sm example">
                        <option value="draft" {{#ifCond blog.status '==' 'draft'}} selected {{/ifCond}}>Chưa được duyệt</option>
                        <option value="published" {{#ifCond blog.status '==' 'published'}} selected {{/ifCond}}>Đã được duyệt</option>
                    </select>
                </div>
                <div class="description-error error-text"></div>
                {{/ifCond}}

                <div class="row justify-content-md-center mt-3">
                    <div class="form-group">
                        <textarea id="editor"></textarea>
                    </div>
                    <div class="contentCode-div">
                        <input type="text" value="{{blog.contentCode}}" id="inputContentCode">
                    </div>
                </div>
                <div class="content-error error-text"></div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
    <div class="modal fade" tabindex="-1" id="modal-inform">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update blog</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Update successful!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-closeModal" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-viewBlog" type="button" href="/blog">View blog</a>
        </div>
        </div>
    </div>
    </div>

{{!-- modal-preview --}}

<!-- Full screen modal -->
<div class="modal fade" tabindex="-1" id="modal-preview">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Preview blog</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="previewModal-body"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-closeModal" onclick="updateBlog()" data-bs-dismiss="modal">Update</button>
            <button type="button" class="btn btn-closeModal" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{{!-- -----------toast-img--------------- --}}

<div class="toast align-items-center hide position-fixed top-0 end-0 me-1" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 10000; margin-top: 100px">
    <div class="d-flex">
        <div class="toast-body">Image uploaded!</div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

{{!-- test value -------------------------------------------------------------}}
{{!--         <div class="show-value">
            <textarea name="" id="show-value" cols="30" rows="10"></textarea>
        </div> --}}
{{!--  ------ ----------------------------------------------------------------}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/2f03u9d8k3bfqttf9dac5pmhdc50rnspe3xpee2cfn8a7plx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea#editor',
    skin: 'bootstrap',
    plugins: 'lists, link, image, media',
    toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
    menubar: false,
    setup: editor => {
            editor.on('init', () => {
                editor.setContent(document.getElementById('inputContentCode').value);
                const divContent = document.querySelector('.contentCode-div');
                divContent.innerHTML = ``;
            });
        }
  });
    
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const btnPost = document.querySelector('.btn-post');
    const titleError = document.querySelector('.title-error');
    const imgError = document.querySelector('.img-error');
    const descriptionError = document.querySelector('.description-error');
    const contentError = document.querySelector('.content-error');
    async function uploadPicture() 
    {
        var fileName = document.querySelector('.blog-img').files[0];
        console.log(fileName);
        const formData = new FormData();
        formData.append("file", fileName)
        formData.append("upload_preset", "moriisotre");
        try{
            const res = await axios.post(`https://api.cloudinary.com/v1_1/tanthanh0805/image/upload`, formData)

            if(res.data){
                document.querySelector('.blog-img').name = res.data.url;
                var myToastEl = document.querySelector('.toast');
                var myToast = new bootstrap.Toast(myToastEl);
                myToast.show();
            }
        }
        catch (err) {
            console.log(err);
        }
    }
    async function updateBlog(){
        btnPost.click();
    }

    btnPost.addEventListener('click', async ()=> {
        const inputTitle = document.querySelector('.title-blog');
        const inputCategory = document.querySelector('.category-blog').value;
        const inputDescription = document.querySelector('.description-blog').value;
        const inputStatus = document?.querySelector('.status-blog')?.value || 'draft';
        var myContent = tinymce.get("editor").getContent();

        console.log('btn-post clicked', inputStatus);
        try {
        //--------------------------------------------------
            const id = inputTitle.id;
            const title = inputTitle.value;
            const img = document.querySelector('.blog-img').name;
            const category = inputCategory;
            const description = inputDescription;
            const contentCode = myContent;
            const status = inputStatus;

            const url = '/Blog/editBlog/' + id;

            const res = await fetch(url , {
                method: 'POST',
                body: JSON.stringify({ id, title, img, category, description, contentCode, status }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                titleError.textContent = data.errors.title;
                imgError.textContent = data.errors.img;
                descriptionError.textContent = data.errors.description;
                contentError.textContent = data.errors.contentCode;
            }else if (data) {
                var myModal = new bootstrap.Modal(document.getElementById('modal-inform'));
                myModal.show();
                console.log("Update thanh Cong");
                document.querySelector('.blog-img').name = "blog-img";
            }
        }
        catch (err) {
            console.log(err);
        }
    });

    const btnPreview = document.querySelector('.btn-preview');
    const bodyPreview = document.querySelector('.previewModal-body');

    btnPreview.addEventListener('click', ()=>{
        const inputTitle = document.querySelector('.title-blog').value;
        const inputImg = document.querySelector('.blog-img').name;
        const inputCategory = document.querySelector('.category-blog').value;
        const inputDescription = document.querySelector('.description-blog').value
        var myContent = tinymce.get("editor").getContent();
        var today = new Date();
        today.toISOString().substring(0, 10);
        
        var html = `    <div class="container px-5">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>${inputCategory}</p>
                            </div>
                            <div>
                                <h2>${inputTitle}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>${today}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>${inputDescription}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="${inputImg}" alt="" height="380">
                            </div>
                        </div>` + `${myContent}` + `</div>`
        bodyPreview.innerHTML = html;
        

        const modalPreview = new bootstrap.Modal(document.getElementById('modal-preview'));
        modalPreview.show();
    })

</script>

<script>
    document.getElementById("nav-blog").classList.add("active");
</script>
