<link rel="stylesheet" href="/css/editblog.css">
<Title>Edit blog</Title>


<div class="d-flex align-items-start content container p-0">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-all-tab" data-bs-toggle="pill" data-bs-target="#v-pills-all" type="button" role="tab" aria-controls="v-pills-all" aria-selected="true">All</button>
        <button class="nav-link" id="v-pills-dog-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dog" type="button" role="tab" aria-controls="v-pills-dog" aria-selected="false">Làm đẹp</button>
        <button class="nav-link" id="v-pills-cat-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cat" type="button" role="tab" aria-controls="v-pills-cat" aria-selected="false">Đồ chơi công nghệ</button>
        <button class="nav-link" id="v-pills-takeCareDog-tab" data-bs-toggle="pill" data-bs-target="#v-pills-takeCareDog" type="button" role="tab" aria-controls="v-pills-takeCareDog" aria-selected="false">Điện gia dụng</button>
    </div>
    <div class="tab-content overflow-auto" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">

            {{#each blogs }}
                <div class="blog-item row mx-0 mt-1">
                    <div class="col-md-2 pe-0 item-img">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="blog-title mb-1"><b>{{this.title}}</b></p>
                        <p class="blog-description mb-1">{{this.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-top justify-content-center">
                        <button class=" btn btn-view p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-eye"></i>
                        </button>
                        <a class=" btn btn-edit p-2" href="/blog/editBlog/{{this._id}}">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class=" btn btn-delete p-2" id="{{this._id}}" onClick="reply_click(this.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse multi-collapse" id="collapse{{this._id}}">
                    <div class="card card-body">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>{{this.category}}</p>
                            </div>
                            <div>
                                <h2>{{this.title}}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="{{this.img}}" alt="" height="300">
                            </div>
                            <div class="blog-content">
                                <input type="text" value="{{this.contentCode}}" id="inputContentCode">
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}    

        </div>
        <div class="tab-pane fade" id="v-pills-dog" role="tabpanel" aria-labelledby="v-pills-dob-tab">
            {{#each blogs }}
            {{#ifCond this.category '==' 'Các giống chó'}}
                <div class="blog-item row mx-0 mt-1">
                    <div class="col-md-2 pe-0 item-img">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="blog-title mb-1"><b>{{this.title}}</b></p>
                        <p class="blog-description mb-1">{{this.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-top justify-content-center">
                        <button class=" btn btn-view p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-eye"></i>
                        </button>
                        <a class=" btn btn-edit p-2" href="/blog/editBlog/{{this._id}}">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class=" btn btn-delete p-2" id="{{this._id}}" onClick="reply_click(this.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse multi-collapse" id="collapse{{this._id}}">
                    <div class="card card-body">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>{{this.category}}</p>
                            </div>
                            <div>
                                <h2>{{this.title}}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="{{this.img}}" alt="" height="300">
                            </div>
                            <div class="blog-content">
                                <input type="text" value="{{this.contentCode}}" id="inputContentCode">
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div class="tab-pane fade" id="v-pills-cat" role="tabpanel" aria-labelledby="v-pills-cat-tab">
            {{#each blogs }}
            {{#ifCond this.category '==' 'Làm đẹp'}}
                <div class="blog-item row mx-0 mt-1">
                    <div class="col-md-2 pe-0 item-img">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="blog-title mb-1"><b>{{this.title}}</b></p>
                        <p class="blog-description mb-1">{{this.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-top justify-content-center">
                        <button class=" btn btn-view p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-eye"></i>
                        </button>
                        <a class=" btn btn-edit p-2" href="/blog/editBlog/{{this._id}}">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class=" btn btn-delete p-2" id="{{this._id}}" onClick="reply_click(this.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse multi-collapse" id="collapse{{this._id}}">
                    <div class="card card-body">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>{{this.category}}</p>
                            </div>
                            <div>
                                <h2>{{this.title}}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="{{this.img}}" alt="" height="300">
                            </div>
                            <div class="blog-content">
                                <input type="text" value="{{this.contentCode}}" id="inputContentCode">
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div class="tab-pane fade" id="v-pills-takeCareDog" role="tabpanel" aria-labelledby="v-pills-takeCareDog-tab">
            {{#each blogs }}
            {{#ifCond this.category '==' 'Đồ chơi công nghệ'}}
                <div class="blog-item row mx-0 mt-1">
                    <div class="col-md-2 pe-0 item-img">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="blog-title mb-1"><b>{{this.title}}</b></p>
                        <p class="blog-description mb-1">{{this.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-top justify-content-center">
                        <button class=" btn btn-view p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-eye"></i>
                        </button>
                        <a class=" btn btn-edit p-2" href="/blog/editBlog/{{this._id}}">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class=" btn btn-delete p-2" id="{{this._id}}" onClick="reply_click(this.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse multi-collapse" id="collapse{{this._id}}">
                    <div class="card card-body">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>{{this.category}}</p>
                            </div>
                            <div>
                                <h2>{{this.title}}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="{{this.img}}" alt="" height="300">
                            </div>
                            <div class="blog-content">
                                <input type="text" value="{{this.contentCode}}" id="inputContentCode">
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}
            {{/each}}
        </div>
        <div class="tab-pane fade" id="v-pills-takeCareCat" role="tabpanel" aria-labelledby="v-pills-takeCareCat-tab">
            {{#each blogs }}
            {{#ifCond this.category '==' 'Điện gia dụng'}}
                <div class="blog-item row mx-0 mt-1">
                    <div class="col-md-2 pe-0 item-img">
                        <img src="{{this.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="blog-title mb-1"><b>{{this.title}}</b></p>
                        <p class="blog-description mb-1">{{this.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-top justify-content-center">
                        <button class=" btn btn-view p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="far fa-eye"></i>
                        </button>
                        <a class=" btn btn-edit p-2" href="/blog/editBlog/{{this._id}}">
                            <i class="far fa-edit"></i>
                        </a>
                        <button class=" btn btn-delete p-2" id="{{this._id}}" onClick="reply_click(this.id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse multi-collapse" id="collapse{{this._id}}">
                    <div class="card card-body">
                        <div class="blog-header mb-5">
                            <div class="blog-category">
                                <p>{{this.category}}</p>
                            </div>
                            <div>
                                <h2>{{this.title}}</h2>
                            </div>
                            <div class="blog-timeCreate">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <hr>
                        </div>


                        <div class="blog-body mb-5">
                            <div class="blog-description ">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="blog-img d-flex justify-content-center mb-5">
                                <img src="{{this.img}}" alt="" height="300">
                            </div>
                            <div class="blog-content">
                                <input type="text" value="{{this.contentCode}}" id="inputContentCode">
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifCond}}
            {{/each}}
        </div>
    </div>

<!-- Modal -->
        <div class="modal fade" id="modal-inform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleted successful!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-closeModal" data-bs-dismiss="modal" onClick="closeModal_click()">Close</button>
                <a class="btn btn-viewBlog" type="button" href="./../blog">View blog</a>
            </div>
            </div>
        </div>
        </div>
<!-- Modal confirm delete -->
        <div class="modal fade" id="modal-confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-closeModal" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-delete" type="button" data-bs-dismiss="modal" onClick="delete_click()">Delete</button>
            </div>
            </div>
        </div>
        </div>
</div>
</div>

<script>

    const blogContents = document.querySelectorAll('.blog-content');
    blogContents.forEach((element) => { 
        var html = `` + document.querySelector('#inputContentCode').value;
        element.innerHTML = html;
    });
        
    var delete_id = "null";
    async function reply_click(clicked_id) 
    {   
        const modalConfirm = new bootstrap.Modal(document.getElementById('modal-confirm'));
        modalConfirm.show();
        delete_id = clicked_id;
        console.log(clicked_id);
        
    }
    async function delete_click(){

        try {
            const id = delete_id;
            delete_id = "null";
            const status = "delete";

            const res = await fetch('/blog/editBlog', {
                method: 'POST',
                body: JSON.stringify({ id, status}),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.status === "deleted") {
                const modalInform = new bootstrap.Modal(document.getElementById('modal-inform'));
                modalInform.show();
                console.log("Xoa Thanh Cong");
            }
        }
        catch (err) {
            console.log('sign up error');
            console.log(err);
        }
    }

    function closeModal_click(){
        location.reload();
    }
    
</script>
<script>
    document.getElementById("nav-blog").classList.add("active");
</script>